/**
*
* Helper
*
**/


.clearfix {
	*zoom: 1;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}


/*==========  GENERIC  ==========*/
.centered {
	text-align: center;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.reveal-modal {
	outline: none;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}

strong {
  font-weight: 500;
}


/* Include this file in your html if you are using the CSP mode. */

@charset "UTF-8";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide:not(.ng-animate) {
  display: none !important;
}

ng\:form {
  display: block;
}
