/* ---------->>> COLORS <<<-----------*/



$red: #c32e28;
$red_dark: #aa2a25;

$black: rgba(0, 0, 0, 1);
$text: rgba(0, 0, 0, .87);
$secondary_text: rgba(0,0,0,.54);
$hint_text: rgba(0,0,0,.24);
$dividers: rgba(0,0,0,.12);