<div id="masthead" ng-controller="NavCtrl" ng-init="init();">
	<div class="row">
		<header class="small-6 columns app-bar promote-layer">
			<div class="app-bar-container">
				<button class="menu"><img src="/static/img/hamburger.svg" alt="Menu"></button>
				<h1 class="logo">LWF - RJ</h1>
				<section class="app-bar-actions">
					<!-- Put App Bar Buttons Here -->
				</section>
			</div>
		</header>

		<nav class="small-6 columns navdrawer-container promote-layer">
		<ul class="inline-list right">
			<li><a class="type-button reverse" href="/">Home</a></li>
			<li><a class="type-button reverse">About <i class="right icon icon-chevron-right hide"></i></a></li>
			<li><a class="type-button reverse">Shop <i class="right icon icon-chevron-right hide"></i></a></li>
		</ul>
	</nav>
	</div>
</div>